body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h4 {
  color: red;
}
.ds456legende{
  margin-right: 20px;
}

#ds456wrapper{
  display: flex;
  flex-direction: row;
}

#ds456mainContent{
  padding: 80px 50px;
}

.ds456legendeBox{
  width: 15px;
  height: 15px;
  float: left;
  margin: auto 5px;
}

#ds456legendeContainer{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

#ds456chartContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.ds456chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ds456chart img {
  margin-left: 65px;
}

.ds456radiogroup {
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.ds456filterSideBar{
  width: 15%;
  min-width: 250px;
  background-color: white;
  border-left-color: grey;
  border-left-style: solid;
  border-left-width: 1px;
  padding: 50px;
}

.ds456filterBox{
  margin: 10px auto;
}

.ds456filterBox label{
  width: 200px;
  display: inline-block;
}

.ds456radiogroup2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 5px;
  width: 90px;
}

.ds456radiogroup2 label{
  padding: 7px;
  text-align: center;
}

.optionlabel{
  padding-bottom: 7px;
  text-align: center;
  text-decoration: underline;
}

.ds456label-stellschraube{
  display: block;
  width: 95px;
  padding-top: 35px;
}

#ds456stellschraubenContainer{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.ds456stellschraube{
  display: flex;
  flex-direction: row;
  height: 105px;
  border-style: solid;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 10px;
  border-color: #aaaaaa;
  border-width: 1px;
  margin-bottom: 20px;
}

.ds456radiogroup label {
  display: block;
  padding: 5px;
}

.ds456range-labels{
  list-style: none;
  padding: 0;
}

li {
  position: relative;
  float: left;
  width: 90.25px;
  text-align: center;
  color: #b2b2b2;
  font-size: 14px;
  cursor: pointer;
}

li::before {
   position: absolute;
   top: -25px;
   right: 0;
   left: 0;
   content: "";
   margin: 0 auto;
   width: 9px;
   height: 9px;
   background: #b2b2b2;
   border-radius: 50%;
 }

a {
  color: #00B7FF;
}

.ds456tooltip{
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-radius: 5px;
  border-width: 1.5px;
  text-align: left;
  padding: 7px 7px;
  position: absolute;
  pointer-events: none;
  min-width: 140px;
}

.ds456tooltip2{
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-radius: 5px;
  border-width: 1.5px;
  text-align: left;
  padding: 7px 7px;
  position: absolute;
  pointer-events: none;
  display: flex;
  flex-direction: row;
}

.ds456tooltip2Column{
  display: flex;
  flex-direction:column;
}

.ds456tooltip_value{
  float:right;
  margin-left: 20px;
}

.ds456tooltip2_value{
  white-space: nowrap;
  text-align: center;
  margin-left: 20px;
}

.ds456target {
  font-weight:bold;
}

/* Customize the label (the container) */
.ds456radiocontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.ds456radiocontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.ds456checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.ds456radiocontainer:hover input ~ .ds456checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.ds456radiocontainer input:checked ~ .ds456checkmark {
  background-color: dodgerblue;
}

.ds456radiocontainer input:checked ~ .ds456checkmark.alternative {
  background-color: firebrick;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.ds456checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.ds456radiocontainer input:checked ~ .ds456checkmark:after {
  display: block;
}

.stelloption {
  position: relative;
  display: flex;
  align-content: center;
  flex-direction: column;
}

/* Tooltip arrow */
.stelloption .optiontooltip::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* Tooltip text */
.stelloption .optiontooltip {
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 4px;

  /* Position the tooltip text */
  z-index: 1;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

#ds456infocontainer{
  width: 100%;
  display: flex;
  position: fixed;
  top: 0px;
  justify-content: space-around;
  z-index: 1;
  pointer-events: none;
}

#ds456info{
  width: 350px;
  height: 60px;
  background-color: #2196F3;
  font-size: 18px;
  padding: 15px 40px;
  line-height: 1.5;
  visibility: hidden;
}

#ds456loader{
  width: 300px;
  height: 220px;
  padding-top: 80px;
}

#ds456loader #spinner{
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ds456rect_herstellung, .ds456rect_nutzung, .ds456rect_rueckbau {
  cursor: pointer;
}

.ds456rect_nutzung:hover, .ds456rect_herstellung:hover, .ds456rect_rueckbau:hover {
  stroke: black;
}

.ds456charttitle {
  font-weight:bold;
  font-size: 23px;
  width: 200px;
  text-align: center;
  margin-left: 65px;
  font-style: italic;
}
